* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.MainSec {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-image: url(forest-with-fog_480416-762.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.container {
    height: 35vh;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(3px);
    text-align: center;
    margin-top: 35vh;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 50px;

}

h1 {

    margin-bottom: 10px;
}

input {

    color: white;
    background-color: transparent;
    outline-color: transparent;

    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
}

input::placeholder {
    color: white;
}

.icon1 {
    position: absolute;
    left: 260px;
    top: 101px;



}

.icon2 {
    position: absolute;
    left: 260px;
    top: 148px;



}

.remember {
    margin: 20px;
}

.forget {
    margin-left: 10px;
}

.buttons {

    margin: 20px;
}

button {
    font-size: 21px;
    width: 35vh;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    transition: ease-out 0.4s;
}

a {
    font-weight: 400;
    color: white;
    text-decoration: none;

}

.register {
    margin-left: 5px;
}

button:hover {
    background-color: transparent;
    transition: ease-in 0.3s;
    color: white;
    cursor: pointer;
}

a:hover {

    text-decoration: underline;
}

.bacvideo {
    position: absolute;
    right: -925;
    bottom: 0;

}

@media (min-aspect-ratio: 16/9) {
    .icon1 {
        position: absolute;
        left: 260px;
        top: 101px;



    }

    .icon2 {
        position: absolute;
        left: 260px;
        top: 148px;



    }
}

